In [11]:
from selenium import webdriver

In [12]:
driver = webdriver.Chrome('/Users/ddjinny/Desktop/코사다마/chromedriver')
driver.get('https://gsis.kwdi.re.kr/kr/stat2/NewStatList.html?stat_type_cd=STAT002')

In [13]:
geo_click = driver.find_element_by_xpath("""//*[@id="tabView"]/div/div[4]/div[1]""").click()

In [20]:
geo_click1 = driver.find_element_by_class_name('btn_basic').click()

In [36]:
table = driver.find_element_by_xpath("""//*[@id="gridHtml"]""")

In [39]:
print(table.text)

행정구역
경제활동
의사결정
교육직업훈련
복지
보건
안전
가족
문화 및 정보
서울
75.8
44.3
96.3
90.8
97.6
65.5
61.7
89.1
부산
76.0
43.1
95.0
89.0
97.8
80.4
62.4
85.7
대구
75.3
42.7
95.4
87.9
97.3
78.4
58.3
90.7
인천
75.4
40.7
95.7
87.4
98.1
73.0
60.1
87.7
광주
73.4
58.0
95.1
89.2
98.8
72.4
60.7
86.7
대전
75.5
49.6
95.1
89.8
99.0
72.0
61.5
87.8
울산
66.7
40.6
96.1
86.5
94.9
74.5
66.5
90.4
경기
73.4
40.5
95.5
87.9
98.3
74.0
62.6
88.6
강원
75.8
35.3
92.4
91.7
95.9
71.5
62.8
82.2
충북
75.7
39.5
93.6
86.6
96.5
73.9
63.6
90.2
충남
73.7
32.7
93.1
85.1
96.8
72.9
65.6
86.8
전북
74.9
36.0
93.1
87.8
98.4
75.7
62.7
80.1
전남
73.2
30.2
91.1
86.3
96.8
76.4
64.9
82.1
경북
70.6
30.3
92.2
82.6
96.3
76.4
64.9
87.7
경남
71.7
34.6
94.0
86.6
95.8
73.6
67.8
87.2
제주
79.8
37.2
94.0
93.8
98.5
71.1
68.5
87.8

In [40]:
import pandas as pd

In [41]:
import numpy as np

In [51]:
sexequal = np.array(table.text.split('\n'))
print(sexequal)
print(len(sexequal))


sexequal = sexequal.reshape(17,9)
print(sexequal)

['행정구역' '경제활동' '의사결정' '교육직업훈련' '복지' '보건' '안전' '가족' '문화 및 정보' '서울' '75.8'
 '44.3' '96.3' '90.8' '97.6' '65.5' '61.7' '89.1' '부산' '76.0' '43.1'
 '95.0' '89.0' '97.8' '80.4' '62.4' '85.7' '대구' '75.3' '42.7' '95.4'
 '87.9' '97.3' '78.4' '58.3' '90.7' '인천' '75.4' '40.7' '95.7' '87.4'
 '98.1' '73.0' '60.1' '87.7' '광주' '73.4' '58.0' '95.1' '89.2' '98.8'
 '72.4' '60.7' '86.7' '대전' '75.5' '49.6' '95.1' '89.8' '99.0' '72.0'
 '61.5' '87.8' '울산' '66.7' '40.6' '96.1' '86.5' '94.9' '74.5' '66.5'
 '90.4' '경기' '73.4' '40.5' '95.5' '87.9' '98.3' '74.0' '62.6' '88.6' '강원'
 '75.8' '35.3' '92.4' '91.7' '95.9' '71.5' '62.8' '82.2' '충북' '75.7'
 '39.5' '93.6' '86.6' '96.5' '73.9' '63.6' '90.2' '충남' '73.7' '32.7'
 '93.1' '85.1' '96.8' '72.9' '65.6' '86.8' '전북' '74.9' '36.0' '93.1'
 '87.8' '98.4' '75.7' '62.7' '80.1' '전남' '73.2' '30.2' '91.1' '86.3'
 '96.8' '76.4' '64.9' '82.1' '경북' '70.6' '30.3' '92.2' '82.6' '96.3'
 '76.4' '64.9' '87.7' '경남' '71.7' '34.6' '94.0' '86.6' '95.8' '73.6'
 '67.8' '87.2' '제주' '79.8' '37.2' '94.0' '93.8' '98.5' '71.1' '68.5'
 '87.8']
153
[['행정구역' '경제활동' '의사결정' '교육직업훈련' '복지' '보건' '안전' '가족' '문화 및 정보']
 ['서울' '75.8' '44.3' '96.3' '90.8' '97.6' '65.5' '61.7' '89.1']
 ['부산' '76.0' '43.1' '95.0' '89.0' '97.8' '80.4' '62.4' '85.7']
 ['대구' '75.3' '42.7' '95.4' '87.9' '97.3' '78.4' '58.3' '90.7']
 ['인천' '75.4' '40.7' '95.7' '87.4' '98.1' '73.0' '60.1' '87.7']
 ['광주' '73.4' '58.0' '95.1' '89.2' '98.8' '72.4' '60.7' '86.7']
 ['대전' '75.5' '49.6' '95.1' '89.8' '99.0' '72.0' '61.5' '87.8']
 ['울산' '66.7' '40.6' '96.1' '86.5' '94.9' '74.5' '66.5' '90.4']
 ['경기' '73.4' '40.5' '95.5' '87.9' '98.3' '74.0' '62.6' '88.6']
 ['강원' '75.8' '35.3' '92.4' '91.7' '95.9' '71.5' '62.8' '82.2']
 ['충북' '75.7' '39.5' '93.6' '86.6' '96.5' '73.9' '63.6' '90.2']
 ['충남' '73.7' '32.7' '93.1' '85.1' '96.8' '72.9' '65.6' '86.8']
 ['전북' '74.9' '36.0' '93.1' '87.8' '98.4' '75.7' '62.7' '80.1']
 ['전남' '73.2' '30.2' '91.1' '86.3' '96.8' '76.4' '64.9' '82.1']
 ['경북' '70.6' '30.3' '92.2' '82.6' '96.3' '76.4' '64.9' '87.7']
 ['경남' '71.7' '34.6' '94.0' '86.6' '95.8' '73.6' '67.8' '87.2']
 ['제주' '79.8' '37.2' '94.0' '93.8' '98.5' '71.1' '68.5' '87.8']]

In [95]:
df = pd.DataFrame(sexequal)
df

       0     1     2       3     4     5     6     7        8
0   행정구역  경제활동  의사결정  교육직업훈련    복지    보건    안전    가족  문화 및 정보
1     서울  75.8  44.3    96.3  90.8  97.6  65.5  61.7     89.1
2     부산  76.0  43.1    95.0  89.0  97.8  80.4  62.4     85.7
3     대구  75.3  42.7    95.4  87.9  97.3  78.4  58.3     90.7
4     인천  75.4  40.7    95.7  87.4  98.1  73.0  60.1     87.7
5     광주  73.4  58.0    95.1  89.2  98.8  72.4  60.7     86.7
6     대전  75.5  49.6    95.1  89.8  99.0  72.0  61.5     87.8
7     울산  66.7  40.6    96.1  86.5  94.9  74.5  66.5     90.4
8     경기  73.4  40.5    95.5  87.9  98.3  74.0  62.6     88.6
9     강원  75.8  35.3    92.4  91.7  95.9  71.5  62.8     82.2
10    충북  75.7  39.5    93.6  86.6  96.5  73.9  63.6     90.2
11    충남  73.7  32.7    93.1  85.1  96.8  72.9  65.6     86.8
12    전북  74.9  36.0    93.1  87.8  98.4  75.7  62.7     80.1
13    전남  73.2  30.2    91.1  86.3  96.8  76.4  64.9     82.1
14    경북  70.6  30.3    92.2  82.6  96.3  76.4  64.9     87.7
15    경남  71.7  34.6    94.0  86.6  95.8  73.6  67.8     87.2
16    제주  79.8  37.2    94.0  93.8  98.5  71.1  68.5     87.8

In [96]:
df.reset_index(level=0, inplace=True)
df

    index     0     1     2       3     4     5     6     7        8
0       0  행정구역  경제활동  의사결정  교육직업훈련    복지    보건    안전    가족  문화 및 정보
1       1    서울  75.8  44.3    96.3  90.8  97.6  65.5  61.7     89.1
2       2    부산  76.0  43.1    95.0  89.0  97.8  80.4  62.4     85.7
3       3    대구  75.3  42.7    95.4  87.9  97.3  78.4  58.3     90.7
4       4    인천  75.4  40.7    95.7  87.4  98.1  73.0  60.1     87.7
5       5    광주  73.4  58.0    95.1  89.2  98.8  72.4  60.7     86.7
6       6    대전  75.5  49.6    95.1  89.8  99.0  72.0  61.5     87.8
7       7    울산  66.7  40.6    96.1  86.5  94.9  74.5  66.5     90.4
8       8    경기  73.4  40.5    95.5  87.9  98.3  74.0  62.6     88.6
9       9    강원  75.8  35.3    92.4  91.7  95.9  71.5  62.8     82.2
10     10    충북  75.7  39.5    93.6  86.6  96.5  73.9  63.6     90.2
11     11    충남  73.7  32.7    93.1  85.1  96.8  72.9  65.6     86.8
12     12    전북  74.9  36.0    93.1  87.8  98.4  75.7  62.7     80.1
13     13    전남  73.2  30.2    91.1  86.3  96.8  76.4  64.9     82.1
14     14    경북  70.6  30.3    92.2  82.6  96.3  76.4  64.9     87.7
15     15    경남  71.7  34.6    94.0  86.6  95.8  73.6  67.8     87.2
16     16    제주  79.8  37.2    94.0  93.8  98.5  71.1  68.5     87.8

In [97]:
df.to_csv('/Users/ddjinny/Desktop/코사다마/2021 COCO/지역별_성평등지수[2019년].csv',index=False)

In [123]:
df = pd.read_csv('/Users/ddjinny/Desktop/코사다마/2021 COCO/지역별_성평등지수[2019년].csv', index_col=[0])
df.columns = df.iloc[0]
df = df.iloc[1:].reindex()
df

0     행정구역  경제활동  의사결정 교육직업훈련    복지    보건    안전    가족 문화 및 정보
index
1       서울  75.8  44.3   96.3  90.8  97.6  65.5  61.7    89.1
2       부산  76.0  43.1   95.0  89.0  97.8  80.4  62.4    85.7
3       대구  75.3  42.7   95.4  87.9  97.3  78.4  58.3    90.7
4       인천  75.4  40.7   95.7  87.4  98.1  73.0  60.1    87.7
5       광주  73.4  58.0   95.1  89.2  98.8  72.4  60.7    86.7
6       대전  75.5  49.6   95.1  89.8  99.0  72.0  61.5    87.8
7       울산  66.7  40.6   96.1  86.5  94.9  74.5  66.5    90.4
8       경기  73.4  40.5   95.5  87.9  98.3  74.0  62.6    88.6
9       강원  75.8  35.3   92.4  91.7  95.9  71.5  62.8    82.2
10      충북  75.7  39.5   93.6  86.6  96.5  73.9  63.6    90.2
11      충남  73.7  32.7   93.1  85.1  96.8  72.9  65.6    86.8
12      전북  74.9  36.0   93.1  87.8  98.4  75.7  62.7    80.1
13      전남  73.2  30.2   91.1  86.3  96.8  76.4  64.9    82.1
14      경북  70.6  30.3   92.2  82.6  96.3  76.4  64.9    87.7
15      경남  71.7  34.6   94.0  86.6  95.8  73.6  67.8    87.2
16      제주  79.8  37.2   94.0  93.8  98.5  71.1  68.5    87.8

In [124]:
df.set_index('행정구역')
df

0     행정구역  경제활동  의사결정 교육직업훈련    복지    보건    안전    가족 문화 및 정보
index
1       서울  75.8  44.3   96.3  90.8  97.6  65.5  61.7    89.1
2       부산  76.0  43.1   95.0  89.0  97.8  80.4  62.4    85.7
3       대구  75.3  42.7   95.4  87.9  97.3  78.4  58.3    90.7
4       인천  75.4  40.7   95.7  87.4  98.1  73.0  60.1    87.7
5       광주  73.4  58.0   95.1  89.2  98.8  72.4  60.7    86.7
6       대전  75.5  49.6   95.1  89.8  99.0  72.0  61.5    87.8
7       울산  66.7  40.6   96.1  86.5  94.9  74.5  66.5    90.4
8       경기  73.4  40.5   95.5  87.9  98.3  74.0  62.6    88.6
9       강원  75.8  35.3   92.4  91.7  95.9  71.5  62.8    82.2
10      충북  75.7  39.5   93.6  86.6  96.5  73.9  63.6    90.2
11      충남  73.7  32.7   93.1  85.1  96.8  72.9  65.6    86.8
12      전북  74.9  36.0   93.1  87.8  98.4  75.7  62.7    80.1
13      전남  73.2  30.2   91.1  86.3  96.8  76.4  64.9    82.1
14      경북  70.6  30.3   92.2  82.6  96.3  76.4  64.9    87.7
15      경남  71.7  34.6   94.0  86.6  95.8  73.6  67.8    87.2
16      제주  79.8  37.2   94.0  93.8  98.5  71.1  68.5    87.8